@model BloqueJarabeSimpleModel

<table class="tabla-trazabilidad">
    <tr class="bg-header">
        <th colspan="5">@Model.TituloBloque</th>
    </tr>
</table>

<table class="tabla-trazabilidad">
    <thead>
        <tr>
            <th>Campo</th>
            @foreach (var col in Model.EncabezadosSku)
            {
                <th>@col</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var fila in Model.Registros)
        {
            <tr>
                <td>@fila.DescripcionCampo</td>
                @foreach (var val in fila.ValoresPorSku)
                {
                    <td>@val<span title="Dato automático">🟢</span></td>
                }
            </tr>
        }
    </tbody>

</table>
