@model List<PruebaLiberacionRow>

<table class="tabla-trazabilidad">
    <thead>
        <tr class="bg-header">
        
            <td colspan="4" >PRUEBAS DE LIBERACIÓN</td>
        </tr>
        <tr class="bg-header">

            <td >&nbsp;</td>
            <td >INICIO CORRIDA</td>
            <td >MEDIO CORRIDA</td>
            <td >FIN CORRIDA</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ControlOperationName<span title="Dato automático">🟢</span></td>
                <td>@item.InicioCorrida<span title="Dato automático">🟢</span></td>
                <td>@item.MedioCorrida<span title="Dato automático">🟢</span></td>
                <td>@item.FinCorrida<span title="Dato automático">🟢</span></td>
            </tr>
        }
    </tbody>
</table>
