@model FormatoViewModel

<div class="accordion" id="accordion-Limpieza2">
    <!-- Acordeón: Datos de Limpieza y Saneamiento -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button py-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLimpieza2">

                <h4 class="mb-0">Datos de Limpieza y Saneamiento</h4>
            </button>
        </h2>
        <div id="collapseLimpieza2" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <table class="tabla-trazabilidad mt-4">
                    <tr class="bg-header">
                        <th colspan="2">INFORMACIÓN GENERAL SANEO SKU QUEJA</th>
                        <th colspan="2">RESULTADOS FISICOQUÍMICOS SANEO LÍNEA</th>
                        <th colspan="2">RESULTADOS FISICOQUÍMICOS SANEO JARABE TERMINADO</th>
                        <th colspan="2">RESULTADOS FISICOQUÍMICOS SANEO TQ JARABE SIMPLE</th>
                    </tr>
                    <tr>
                        <td>DETERGENTE SANEO LÍNEA</td>
                        <td></td>
                        <td>FECHA</td>
                        <td></td>
                        <td>FECHA</td>
                        <td></td>
                        <td>FECHA</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>DETERGENTE TQ JAR SIMPLE</td>
                        <td></td>
                        <td>LINEA</td>
                        <td></td>
                        <td>TANQUE</td>
                        <td></td>
                        <td>SILO</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>DETERGENTE TQ JAR TERMINADO</td>
                        <td></td>
                        <td>LOTE</td>
                        <td></td>
                        <td>LOTE</td>
                        <td></td>
                        <td>LOTE</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>SANITIZANTE SANEO LÍNEA</td>
                        <td></td>
                        <td>DETERGENTE</td>
                        <td></td>
                        <td>DETERGENTE</td>
                        <td></td>
                        <td>DETERGENTE</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>SANITIZANTE TQ JAR SIMPLE</td>
                        <td></td>
                        <td>SANITIZANTE</td>
                        <td></td>
                        <td>SANITIZANTE</td>
                        <td></td>
                        <td>SANITIZANTE</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>SANITIZANTE TQ JAR TERMINADO</td>
                        <td></td>
                        <td>TIPO DE SANEO</td>
                        <td></td>
                        <td>TIPO DE SANEO</td>
                        <td></td>
                        <td>TIPO DE SANEO</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ESPUMA DE SUPERFICIES</td>
                        <td></td>
                        <td>TEMPERATURA</td>
                        <td></td>
                        <td>TEMPERATURA</td>
                        <td></td>
                        <td>TEMPERATURA</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>SANITIZANTE EXTERIORES</td>
                        <td></td>
                        <td>CONCENTRACIÓN</td>
                        <td></td>
                        <td>CONCENTRACIÓN</td>
                        <td></td>
                        <td>CONCENTRACIÓN</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>LOTE AGUA TRATADA</td>
                        <td></td>
                        <td>TIEMPO RECIRCULACIÓN</td>
                        <td></td>
                        <td>TIEMPO RECIRCULACIÓN</td>
                        <td></td>
                        <td>TIEMPO RECIRCULACIÓN</td>
                        <td></td>
                    </tr>

                </table>

                <table class="tabla-trazabilidad">
                    <tr class="bg-header"><th colspan="5">ANÁLISIS SENSORIAL DE SANEO TANQUE JAR. TERMINADO</th></tr>
                    <tr class="bg-header">
                        <th>LOTE / FECHA / NOMBRE</th>
                        <th>RESULTADO PANEL</th>
                    </tr>
                    <tr><td>Lourdes Contreras</td><td>IN</td></tr>
                    <tr><td>Luia Amezquita</td><td>IN</td></tr>
                    <tr><td>LOTE: 10239066</td><td>REFERENCIA: Agua tratada</td></tr>
                    <tr><td>FECHA: 14/10/2024</td><td></td></tr>
                </table>
                <br />

                <table class="tabla-trazabilidad">
                    <tr class="bg-header"><th colspan="5">ANÁLISIS SENSORIAL DE SANEO</th></tr>
                    <tr class="bg-header">
                        <th>FECHA / NOMBRE</th>
                        <th>RESULTADO PANEL</th>
                    </tr>
                    <tr><td>Jonathan Mata</td><td>IN</td></tr>
                    <tr><td>Luis Austria</td><td>IN</td></tr>
                    <tr><td>LIBERADOR 3: NA</td><td>REFERENCIA: Agua tratada</td></tr>
                    <tr><td>FECHA: 15/10/2024</td><td></td></tr>
                </table>


            </div>
        </div>
    </div>
</div>