@model FormatoViewModel

<div class="accordion" id="accordion-MP">
    @await Html.PartialAsync("~/Views/TrazabilidadAuditoria/Partials/_F_MateriaPrima.cshtml", Model.BloqueMateriaPrima)
</div>

<div class="accordion" id="accordion-MateriasPrimas2">
<div class="accordion-item">
    <h2 class="accordion-header">
            <button class="accordion-button py-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMateriasPrimas2">
            
                <h4 class="mb-0">Datos de Materias Primas</h4>
        </button>
    </h2>
    <div id="collapseMateriasPrimas2" class="accordion-collapse collapse show">
        <div class="accordion-body">

            <!-- Subbloque: Azúcar -->

                @await Html.PartialAsync("~/Views/TrazabilidadAuditoria/Partials/_F_JarabesLoteJarabeSimpleFisicoquimico.cshtml", Model.BloqueAzucar)

            <!-- Subbloque: Resultados de Análisis Sensorial de Azúcar -->
            
            <table class="tabla-trazabilidad">
                    <tr class="bg-header"><th colspan="5">Resultados de Análisis Sensorial de Azúcar</th></tr>
                <tr><th></th><th>SKU Queja</th><th>Anterior</th><th>Otro Involucrado</th><th>Resultado Panel</th></tr>
                <tr><td>Liberador 1:</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>Liberador 2:</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>Lote:</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>Fecha:</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>Referencia:</td><td></td><td></td><td></td><td></td></tr>
            </table>

            <!-- Subbloque: Fructosa Silo 1 -->
                @await Html.PartialAsync("~/Views/TrazabilidadAuditoria/Partials/_F_JarabesLoteJarabeSimpleFisicoquimico.cshtml", Model.BloqueFructuosa1)

            <!-- Subbloque: Resultados de Análisis Sensorial de Fructosa Silo 1 -->
            
            <table class="tabla-trazabilidad">
                    <tr class="bg-header"><th colspan="5">Resultados de Análisis Sensorial de Fructosa Silo 1</th></tr>
                <tr><th></th><th>SKU Queja</th><th>Anterior</th><th>Otro Involucrado</th><th>Resultado Panel</th></tr>
                <tr><td>Liberador 1:</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>Liberador 2:</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>Lote:</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>Fecha:</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>Referencia:</td><td></td><td></td><td></td><td></td></tr>
            </table>

            <!-- Subbloque: CO2 -->
                @await Html.PartialAsync("~/Views/TrazabilidadAuditoria/Partials/_F_JarabesLoteJarabeSimpleFisicoquimico.cshtml", Model.BloqueCO2)

            <!-- Subbloque: Resultados de Análisis Sensorial de CO2 -->
            <table class="tabla-trazabilidad">
                    <tr class="bg-header"><th colspan="5">Resultados de Análisis Sensorial de CO2</th></tr>
                <tr><th></th><th>SKU Queja</th><th>Anterior</th><th>Otro Involucrado</th><th>Resultado Panel</th></tr>
                    <tr><td>Liberador 1:</td><td></td><td></td><td></td><td></td></tr>
                    <tr><td>Liberador 2:</td><td></td><td></td><td></td><td></td></tr>
                    <tr><td>Lote:</td><td></td><td></td><td></td><td></td></tr>
                    <tr><td>Fecha:</td><td></td><td></td><td></td><td></td></tr>

                <tr><td>Referencia:</td><td></td><td></td><td></td><td></td></tr>
            </table>
            
            <!-- Subbloque: Nitrógeno -->
            
            <table class="tabla-trazabilidad">
                    <tr class="bg-header"><th colspan="2">NITRÓGENO (CERTIFICADO)</th></tr>
                <tr><td>Monóxido de carbono:</td><td></td></tr>
                <tr><td>Oxígeno:</td><td></td></tr>
                <tr><td>Pureza:</td><td></td></tr>
            </table>

            <!-- Subbloque: Fructosa Silo 2 -->
            
            <table class="tabla-trazabilidad">
                    <tr class="bg-header"><th colspan="4">FRUCTOSA SILO 2</th></tr>
                <tr><th></th><th>SKU Queja</th><th>Anterior</th><th>Otro Involucrado</th></tr>
                    <tr><td>Lote:</td><td></td><td></td><td></td></tr>
                    <tr><td>Fecha de recepción:</td><td></td><td></td><td></td></tr>
                    <tr><td>Silo de descarga:</td><td></td><td></td><td></td></tr>
                    <tr><td>Sólidos alta fructosa:</td><td></td><td></td><td></td></tr>
                    <tr><td>Apariencia:</td><td></td><td></td><td></td></tr>
                    <tr><td>Olor:</td><td></td><td></td><td></td></tr>
                    <tr><td>Sabor:</td><td></td><td></td><td></td></tr>
                    <tr><td>Temperatura:</td><td></td><td></td><td></td></tr>
                    <tr><td>pH:</td><td></td><td></td><td></td></tr>
                    <tr><td>Turbidez:</td><td></td><td></td><td></td></tr>

            </table>

            <!-- Subbloque: Resultados Sensoriales Fructosa Silo 2 -->
            
            <table class="tabla-trazabilidad">
                    <tr class="bg-header"><th colspan="4">Resultados de Análisis Sensorial de Fructosa Silo 2</th></tr>
                <tr><th>SKU Queja</th><th>Anterior</th><th>Otro Involucrado</th><th>Resultado Panel</th></tr>
                <tr><td>Dia Rodríguez</td><td>Margarita Antonio</td><td>Tomas Carranza</td><td>IN</td></tr>
                <tr><td>Yahaira</td><td>Carlos Castillo</td><td>Marcos Robles</td><td>IN</td></tr>
            </table>

            <!-- Subbloque: Fructosa Silo 3 -->
            <table class="tabla-trazabilidad">
                    <tr class="bg-header"><th colspan="4">FRUCTOSA SILO 3</th></tr>
                <tr><th></th><th>SKU Queja</th><th>Anterior</th><th>Otro Involucrado</th></tr>
                    <tr><td>Lote:</td><td></td><td></td><td></td></tr>
                    <tr><td>Fecha de recepción:</td><td></td><td></td><td></td></tr>
                    <tr><td>Silo de descarga:</td><td></td><td></td><td></td></tr>
                    <tr><td>Sólidos alta fructosa:</td><td></td><td></td><td></td></tr>
                    <tr><td>Apariencia:</td><td></td><td></td><td></td></tr>
                    <tr><td>Olor:</td><td></td><td></td><td></td></tr>
                    <tr><td>Sabor:</td><td></td><td></td><td></td></tr>
                    <tr><td>Temperatura:</td><td></td><td></td><td></td></tr>
                    <tr><td>pH:</td><td></td><td></td><td></td></tr>
                    <tr><td>Turbidez:</td><td></td><td></td><td></td></tr>

            </table>

            <!-- Subbloque: Resultados Sensoriales Fructosa Silo 3 -->
            <table class="tabla-trazabilidad">
                    <tr class="bg-header"><th colspan="4">Resultados de Análisis Sensorial de Fructosa Silo 3</th></tr>
                <tr><th>SKU Queja</th><th>Anterior</th><th>Otro Involucrado</th><th>Resultado Panel</th></tr>
                <tr><td>Tomas Carranza</td><td>Jothan Salas</td><td>Yaquelin Castro</td><td>IN</td></tr>
                <tr><td>Edith Castro</td><td>Yaquelin Castro</td><td>Juan Guevara</td><td>IN</td></tr>
            </table>

        </div>
    </div>
</div>
</div>
