@model FormatoViewModel

<div class="accordion" id="accordion-Produccion2">

    <!-- Acordeón: Información de Producción -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button py-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProduccion2">

                <h4 class="mb-0">Información de Producción</h4>
            </button>
        </h2>
        <div id="collapseProduccion2" class="accordion-collapse collapse show">
            <div class="accordion-body">

                <!-- 1. Información de Producción -->
                <table class="tabla-trazabilidad">
                    <tr class="bg-header"><th colspan="2">Información de Producción</th></tr>
                    <tr><td>SKU</td><td>JD 1.5L</td></tr>
                    <tr><td>Nombre del Producto</td><td>Jugo de Durazno 1.5 Litros</td></tr>
                    <tr><td>Fecha de Producción</td><td>2024-07-01</td></tr>
                    <tr><td>Línea de Producción</td><td>Línea 3</td></tr>
                    <tr><td>Lote de Producción</td><td>JD15070124</td></tr>
                    <tr><td>Turno</td><td>Turno B</td></tr>
                    <tr><td>Responsable de Producción</td><td>Carlos Gómez</td></tr>
                    <tr><td>Supervisor de Calidad</td><td>Andrea López</td></tr>
                </table>

                <!-- 2. Registro de Producción -->
                <table class="tabla-trazabilidad mt-4">
                    <tr class="bg-header"><th colspan="4">Registro de Producción</th></tr>
                    <tr class="bg-header"><th>Hora de Inicio</th><th>Hora de Fin</th><th>Unidades Producidas</th><th>Unidades Rechazadas</th></tr>
                    <tr><td>06:00</td><td>14:00</td><td>24,000</td><td>150</td></tr>
                </table>

            </div>
        </div>
    </div>

</div>