@model FormatoViewModel

<div class="accordion" id="accordion-MP">
    @await Html.PartialAsync("~/Views/TrazabilidadAuditoria/Partials/_F_MateriaPrima.cshtml", Model.BloqueMateriaPrima)
</div>

<div class="accordion" id="accordion-MateriasPrimas2">
<div class="accordion-item">
    <h2 class="accordion-header">
            <button class="accordion-button py-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMateriasPrimas2">
            
                <h4 class="mb-0">Datos de Materias Primas</h4>
        </button>
    </h2>
    <div id="collapseMateriasPrimas2" class="accordion-collapse collapse show">
        <div class="accordion-body">

            <!-- Subbloque: Azúcar -->

                @await Html.PartialAsync("~/Views/TrazabilidadAuditoria/Partials/_F_JarabesLoteJarabeSimpleFisicoquimico.cshtml", Model.BloqueAzucar)

            <!-- Subbloque: Resultados de Análisis Sensorial de Azúcar -->
            
            <table class="tabla-trazabilidad">
                    <tr class="bg-header"><th colspan="5">Resultados de Análisis Sensorial de Azúcar</th></tr>
                <tr><th></th><th>SKU Queja</th><th>Anterior</th><th>Otro Involucrado</th><th>Resultado Panel</th></tr>
                <tr><td>Liberador 1:</td><td>NA</td><td>NA</td><td>NA</td><td>NA</td></tr>
                <tr><td>Liberador 2:</td><td>NA</td><td>NA</td><td>NA</td><td>NA</td></tr>
                <tr><td>Lote:</td><td>NA</td><td>NA</td><td>NA</td><td>NA</td></tr>
                <tr><td>Fecha:</td><td>NA</td><td>NA</td><td>NA</td><td>NA</td></tr>
                <tr><td>Referencia:</td><td>NA</td><td>NA</td><td>NA</td><td>NA</td></tr>
            </table>

            <!-- Subbloque: Fructosa Silo 1 -->
                @await Html.PartialAsync("~/Views/TrazabilidadAuditoria/Partials/_F_JarabesLoteJarabeSimpleFisicoquimico.cshtml", Model.BloqueFructuosa1)

            <!-- Subbloque: Resultados de Análisis Sensorial de Fructosa Silo 1 -->
            
            <table class="tabla-trazabilidad">
                    <tr class="bg-header"><th colspan="5">Resultados de Análisis Sensorial de Fructosa Silo 1</th></tr>
                <tr><th></th><th>SKU Queja</th><th>Anterior</th><th>Otro Involucrado</th><th>Resultado Panel</th></tr>
                <tr><td>Liberador 1:</td><td>NA</td><td>NA</td><td>NA</td><td>NA</td></tr>
                <tr><td>Liberador 2:</td><td>NA</td><td>NA</td><td>NA</td><td>NA</td></tr>
                <tr><td>Lote:</td><td>NA</td><td>NA</td><td>NA</td><td>NA</td></tr>
                <tr><td>Fecha:</td><td>NA</td><td>NA</td><td>NA</td><td>NA</td></tr>
                <tr><td>Referencia:</td><td>NA</td><td>NA</td><td>NA</td><td>NA</td></tr>
            </table>

            <!-- Subbloque: CO2 -->
                @await Html.PartialAsync("~/Views/TrazabilidadAuditoria/Partials/_F_JarabesLoteJarabeSimpleFisicoquimico.cshtml", Model.BloqueCO2)

            <!-- Subbloque: Resultados de Análisis Sensorial de CO2 -->
            <table class="tabla-trazabilidad">
                    <tr class="bg-header"><th colspan="5">Resultados de Análisis Sensorial de CO2</th></tr>
                <tr><th></th><th>SKU Queja</th><th>Anterior</th><th>Otro Involucrado</th><th>Resultado Panel</th></tr>
                <tr><td>Liberador 1:</td><td>Misael Martínez</td><td>Jonathan Mata</td><td>Antonia Jiménez</td><td>IN</td></tr>
                <tr><td>Liberador 2:</td><td>Antonia Jiménez</td><td>Viridiana López</td><td>Karen Chaul</td><td>IN</td></tr>
                <tr><td>Lote:</td><td>CO141024-210</td><td>CO121024-209</td><td>CO111024-208</td><td>IN</td></tr>
                <tr><td>Fecha:</td><td>14/10/2024</td><td>12/10/2024</td><td>11/10/2024</td><td>IN</td></tr>
                <tr><td>Referencia:</td><td>NA</td><td>NA</td><td>NA</td><td></td></tr>
            </table>

            <!-- Subbloque: Nitrógeno -->
            
            <table class="tabla-trazabilidad">
                    <tr class="bg-header"><th colspan="2">NITRÓGENO (CERTIFICADO)</th></tr>
                <tr><td>Monóxido de carbono:</td><td>NA</td></tr>
                <tr><td>Oxígeno:</td><td>NA</td></tr>
                <tr><td>Pureza:</td><td>NA</td></tr>
            </table>

            <!-- Subbloque: Fructosa Silo 2 -->
            
            <table class="tabla-trazabilidad">
                    <tr class="bg-header"><th colspan="4">FRUCTOSA SILO 2</th></tr>
                <tr><th></th><th>SKU Queja</th><th>Anterior</th><th>Otro Involucrado</th></tr>
                <tr><td>Lote:</td><td>FR2141024-901</td><td>FR2111024-895</td><td>FR2111024-892</td></tr>
                <tr><td>Fecha de recepción:</td><td>14/10/2024</td><td>11/10/2024</td><td>11/10/2024</td></tr>
                <tr><td>Silo de descarga:</td><td>2</td><td>2</td><td>2</td></tr>
                <tr><td>Sólidos alta fructosa:</td><td>77.12%</td><td>77.46%</td><td>77.10%</td></tr>
                <tr><td>Apariencia:</td><td>CARACTERISTICO</td><td>CARACTERISTICO</td><td>CARACTERISTICO</td></tr>
                <tr><td>Olor:</td><td>CARACTERISTICO</td><td>CARACTERISTICO</td><td>CARACTERISTICO</td></tr>
                <tr><td>Sabor:</td><td>CARACTERISTICO</td><td>CARACTERISTICO</td><td>CARACTERISTICO</td></tr>
                <tr><td>Temperatura:</td><td>28°C</td><td>30°C</td><td>30°C</td></tr>
                <tr><td>pH:</td><td>3.6</td><td>3.53</td><td>3.77</td></tr>
                <tr><td>Turbidez:</td><td>16.27 ICU</td><td>14.31 ICU</td><td>12.69 ICU</td></tr>
            </table>

            <!-- Subbloque: Resultados Sensoriales Fructosa Silo 2 -->
            
            <table class="tabla-trazabilidad">
                    <tr class="bg-header"><th colspan="4">Resultados de Análisis Sensorial de Fructosa Silo 2</th></tr>
                <tr><th>SKU Queja</th><th>Anterior</th><th>Otro Involucrado</th><th>Resultado Panel</th></tr>
                <tr><td>Diana Rodríguez</td><td>Margarita Antonio</td><td>Tomas Carranza</td><td>IN</td></tr>
                <tr><td>Yahaira</td><td>Carlos Castillo</td><td>Marcos Robles</td><td>IN</td></tr>
            </table>

            <!-- Subbloque: Fructosa Silo 3 -->
            <table class="tabla-trazabilidad">
                    <tr class="bg-header"><th colspan="4">FRUCTOSA SILO 3</th></tr>
                <tr><th></th><th>SKU Queja</th><th>Anterior</th><th>Otro Involucrado</th></tr>
                <tr><td>Lote:</td><td>FR3141024-900</td><td>FR3121024-897</td><td>FR3111024-894</td></tr>
                <tr><td>Fecha de recepción:</td><td>14/10/2024</td><td>12/10/2024</td><td>11/10/2024</td></tr>
                <tr><td>Silo de descarga:</td><td>3</td><td>3</td><td>3</td></tr>
                <tr><td>Sólidos alta fructosa:</td><td>77.29%</td><td>77.25%</td><td>77.04%</td></tr>
                <tr><td>Apariencia:</td><td>CARACTERISTICO</td><td>CARACTERISTICO</td><td>CARACTERISTICO</td></tr>
                <tr><td>Olor:</td><td>CARACTERISTICO</td><td>CARACTERISTICO</td><td>CARACTERISTICO</td></tr>
                <tr><td>Sabor:</td><td>CARACTERISTICO</td><td>CARACTERISTICO</td><td>CARACTERISTICO</td></tr>
                <tr><td>Temperatura:</td><td>28°C</td><td>29°C</td><td>29°C</td></tr>
                <tr><td>pH:</td><td>3.55</td><td>3.58</td><td>3.56</td></tr>
                <tr><td>Turbidez:</td><td>11.71 ICU</td><td>13.01 ICU</td><td>11.39 ICU</td></tr>
            </table>

            <!-- Subbloque: Resultados Sensoriales Fructosa Silo 3 -->
            <table class="tabla-trazabilidad">
                    <tr class="bg-header"><th colspan="4">Resultados de Análisis Sensorial de Fructosa Silo 3</th></tr>
                <tr><th>SKU Queja</th><th>Anterior</th><th>Otro Involucrado</th><th>Resultado Panel</th></tr>
                <tr><td>Tomas Carranza</td><td>Jonathan Salas</td><td>Yaquelin Castro</td><td>IN</td></tr>
                <tr><td>Edith Castro</td><td>Yaquelin Castro</td><td>Juan Guevara</td><td>IN</td></tr>
            </table>

        </div>
    </div>
</div>
</div>
